@font-face {
	font-family: '437';
	src: url('437.ttf');
}

::-webkit-scrollbar {
	width: 0px;
}

body {
	padding: 0;
	margin: 0;
	background: black;
	font-family: '437';
	font-size: 16px;
	color: #00FF00;
	line-height: 1;
}

.filesystem {
	display: none;
}

.container {
	width: 47em;
	height: 32em;
	padding: 0;
	float: left;
}

#system {
	width: 46em; 
	height: 30em; 
	background: black; 
	padding: 1em 0em 1em 1em;
	position: absolute;
	border-right: 2px solid #00FF00;
}

#system:focus {
	outline: none;
}

.left-panel {
	float: left;
	width: 88px;
	height: 100vh;
	border-right: 2px solid #00FF00;
	background: black url('../img/banner.png') top left no-repeat;
}

.main-panel {
	-webkit-transition: all 1s;
	float: left;
	width: calc(100vw - 90px);
	left: 90px;	
	top: 0;
	height: 32em;
	border-bottom: 2px solid #00FF00;
	position: absolute;
}

.menu {
	font-family: courier;
	visibility: hidden;
	float: left;
	position: absolute;
	left: 47em;
	padding: 1em 1em;
	bottom: 0;
}

ul, ol { margin: 0; padding: 0; }
.menu li {
	display: inline-block;
	padding: 0 0.5em;
	border-right: solid 2px;
}

.menu li:hover {
	background: #00FF00;
	color: black;
}

.second-panel {
	-webkit-transition: all 1s;
	padding: 0 1em;
	position: absolute;
	top: 33em;
	left: 90px;
	bottom: 1em;
	width: 45em;
	visibility: hidden;
	color: #ffff33;
}

.second-panel-inside {
	padding: 0;
	margin: 0;
	overflow-y: auto;
	word-wrap: normal;
	height: 100%;
	width: 100%;
}

.second-panel-inside > * {
	position: relative;
	top: -1em;
}

.second-panel-inside::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 0.8em;
	height: 0.8em;
	background-color: black;
}

.second-panel-inside::-webkit-scrollbar-thumb {
	background-color: #00FF00;
}

.second-panel-inside::-webkit-scrollbar-corner {
	background: black;
}

.second-panel-inside::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

#imgviewer {
	position: absolute;
	background: black;
	width: 47em;
	height: 32em;
	z-index: 100;
	text-align: center;
	-webkit-transition: all 1s ease;
	opacity: 0;
}

#imgviewer img {
	max-width: 100%;
	max-height: 100%;
}
