#sl-number {
	font-family: 'Gotham Condensed Black';
	position: fixed;
	font-size: 60px;
	font-weight: bold;
	right: 30px;
	bottom: 35px;
}

#sl-number .sl-current {
	opacity: 0.8;
	z-index: 10;
}

#sl-number .sl-total {
	position: relative;
	opacity: 0.3;
	left: -10px;
	top: 10px;
	font-size: 55px;
}
