@import url(../common.css);

.presentation-container {
}

section {
	background: lightgrey;
}

section {
	font-size: large;
}

section .big-box {
	font-size: 70px;
}


section.leave {
	z-index: 10;
	-webkit-animation: leave .8s linear;
}

section.enter {
	z-index: 20;
	-webkit-animation: enter .8s linear;
}

section h1 {
	font-weight: 900;
	display: block;
	font-size: xx-large;
}

section h2 {
	font-variant: small-caps;
	font-size: x-large;
	position: relative;
	margin-bottom: 20px;
}

/* *********************************************************************************************************************
	One% CSS Grid - 12 Columns Fluid CSS Grid System

	Why One% ? Let’s count ...
		we have 12 columns (magic number divided by 2, 3, 4, 6)

		for 12 columns we need 11 margins

		so if we count margin 3%, then 3% * 11 margins = 33%

		and if we count width of 1 column 5.5%, than 5.5% * 12 columns = 66%

		in the end we have 33% + 66% = 99% aaand ???

		1% is still here so that's the name - One%

	2 starting options ? Let’s count a bit more ...
		1200px - perfectly fits 1280 screens
			12 columns
			margin 3% / 36px (full-width)
			col1 5.5% / 66px (full-width)

		1000px - perfectly fits 1024 screens
			12 columns
			margin 3% / 30px (full-width)
			col1 5.5% / 55px (full-width)
*/

/* *********************************************************************************************************************
 * Main container for all
 */
.onepcssgrid {
	box-sizing: content-box;
	margin: 0;
	max-width: 100%;
	padding: 0 0 0 1%; /* THAT'S THE NAME ;) */
}

.onerow {
	clear: both;
	margin: 0px 0px 20px 0px;
}

.onerow::after {
	content: ' ';
	display: block;
	clear: both;
}

/* *********************************************************************************************************************
 * Common columns definitions
 */
.col1, .col2, .col3, .col4, .col5, .col6, .col7, .col8, .col9, .col10, .col11, .col12 {
	float: left;
	margin: 0 3% 0 0;
}

.col1.last, .col2.last, .col3.last, .col4.last, .col5.last, .col6.last, .col7.last, .col8.last, .col9.last, .col10.last, .col11.last, .col12 {
	margin: 0;
}

.col1 { width: 5.5%; }
.col2 { width: 14%; }
.col3 { width: 22.5%; }
.col4 { width: 31%; }
.col5 { width: 39.5%; }
.col6 { width: 48%; }
.col7 { width: 56.5%; }
.col8 { width: 65%; }
.col9 { width: 73.5%; }
.col10 { width: 82%; }
.col11 { width: 90.5%; }
.col12 { width: 99%; margin: 0; }

@-webkit-keyframes leave {
	100% {
		left: -100%;
	}
}

@-webkit-keyframes enter {
	0% {
		left: 100%;
	}
}
