/* common */
.presentation-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

section {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
}

.visible {
	display: block;
}

section [step] {
	-webkit-transition: all 0.6s;
	opacity: 0;
}

section [step].visible {
	opacity: 1;
}
