@charset "UTF-8";
/* CSS Document */

@font-face{
  font-family: Helvetica Neue Thin;
  src: url('../types/HelveticaNeueThin.otf'), url('../types/HelveticaNeueThin.woff');
  font-weight: thin;
}

@font-face{
  font-family: Helvetica Neue Bold;
  src: url('../types/HelveticaNeueBold.otf'), url('../types/HelveticaNeueBold.woff');
  font-weight: bold;
}

@font-face{
  font-family: Helvetica Neue Light Condensed;
  src: url('../types/HelveticaNeueLightCondensed.otf'), url('../types/HelveticaNeueLightCondensed.woff');
  font-weight: condensed;
}

@hyphenate-resource {
  /* English */
  pt: url();
  pt-PT: url();
}

p {
	margin: 0px;
	padding: 0px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

body {
	font-family: Georgia, serif;
	font-size: 14px;
	line-height: 17px;
	background-color: #000;
	color: #b7b7b7;
	margin: 0px;
	padding-left: 3em;	
}

:focus {
	outline: none;
}

#guide {
  display: none;
  position: fixed; 
  width: 100%; 
  height: 100%; 
  background-image: url(../images-raw/12_col.gif); 
  background-repeat: repeat-y; 
  -webkit-opacity: 0.4;
  opacity: 0.4;
}

#about {
	display: block; 
	-webkit-transform: rotate(-90deg); 
	-moz-transform: rotate(-90deg); 
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg); 
	transform: rotate(-90deg); 
	position: absolute;
	top: 143px;
}

#hobbies {
	display: block; 
	-webkit-transform: rotate(90deg); 
	-moz-transform: rotate(90deg); 
	-o-transform: rotate(90deg); 
	-ms-transform: rotate(90deg);
	transform: rotate(90deg); 
	position: absolute;
	top: 58px;
	left: -52px;
}

#sidebar {
	font-family: Helvetica Neue Thin, sans-serif;
	font-size: 28px;
	line-height: 34px;
	color: /*#776047*/ #665847 /*#3D362D*/ /*#777300*/;
	padding-top: 36px;
	width: 240px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	position: fixed;
}

#sidebar h1 {
  font-family: Helvetica Neue Light Condensed; 
	font-size: 21px; 
	line-height: 34px;
	color: /*#776047*/ #665847;
}

a {
  color: #665847 /*#776047*/;
  text-decoration: none;
}

a:hover {
  color: #3D362D;
  text-decoration: none;
}

a.auto {
  color: #b7b7b7;
  text-decoration: none;
}

/*
#sidebar a:visited {
  color: #665847;
  text-decoration: none;
}
*/

#sidebar ul {
  font-size: 12px;
  line-height: 18px;
  margin-top: 2em;
  font-family: Georgia, sans-serif;
}

#sidebar ul li {
  padding-left: 35px;
  margin-bottom: 1em;
}

#sidebar ul li.twitter {
  background: url(../images/twitter.png) no-repeat 0 0px;
}

#sidebar ul li.mail {
  background: url(../images/gmail.png) no-repeat 0 0px;
} 

#sidebar ul li.desk {
  background: url(../images/desk.png) no-repeat 0 0px;
} 

#centercolumn {
	border-right-width: 1px;
	border-right-style: solid;
	border-top-color: #363636;
	border-right-color: #363636;
	border-bottom-color: #363636;
	border-left-color: #363636;
	border-left-width: 1px;
	border-left-style: solid;
	width: 320px;
	float: left;
	position: absolute;
	left: 282px;
	font-family: Georgia, serif;
}

#scribd {
  border: 1px solid #363636;
  border-left: none;
  background: black;
  position: absolute;
  left: 283px;
  top: 3em;
  width: 678px;
  height: 902px;
  display: none;
  padding: 10px;
  background: #3D362D;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 2;
}

#closebutton {
  position: absolute;
  width: 20px;
  height: 100px;
  left: 677px;
  top: 200px;
  border: 1px solid #363636;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

iframe {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.bigbox {
	padding-left: 10px;
	padding-right: 10px;
	width: 300px;
	font-family: Georgia, serif;
	position: relative;
	border-bottom:3px #363636 solid;
}

.box {
	position: absolute;
	border: 1px #363636 solid;
	padding: 0px;
}

.glowbrown:hover {
  background: #3D362D;
  opacity: 1;
}

h1 {
	margin: 0px;
	padding: 0px;
	font-weight: normal;
}

.box h1 {
	/*display: block; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg);*/
	font-family: "Helvetica Neue Light Condensed", sans-serif;
	font-size: 56px;
	line-height: 68px;
	color: #665847;
	padding: 0px;
	margin: 0px;
	text-align: inherit;
}

.box p {
	font-family: Georgia, serif;
	font-size: 12px;
	line-height: 17px;
	text-align: justify;
  padding-left: 10px; 
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	hyphens: auto;
}

