body {
	background: -webkit-radial-gradient(rgba(150, 150, 150, 1), rgba(50, 50, 50, 1));	
	width: 100vw;
	height: 100vh;
	position: absolute;
	cursor: none;
}

.presentation-container {
	width: 100%;
	height: 62vw;
	margin: 0 auto;
	position: absolute;
}

#start h1 {
	font-size: 3em !important;
	margin-bottom: 12%;
	margin-top: 5%;
}

.author {
	text-align: center;
	bottom: 10%;
	margin: 0 auto;
	width: 80%;
}

.logos {
	width: 90%;
	height: 60px;
	margin: 0 auto 5% auto;
	text-align: center;
}

.logos img {
	height: 100%;
	margin: 0 20px;
}

.dnc-component-label {
	vertical-align: middle; 
	font-size: 1.5em;
}

.dnc-component-desc {
	position: relative; 
	top: -0.15em; 
	left: -1em;
	-webkit-transform: scale(2);
}

.syntaxhighlighter { 
	overflow-y: hidden !important; 
	overflow-x: auto !important; 
	margin-top: 0 !important;
}

.syntaxhighlighter,
.syntaxhighlighter .line, 
.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2 { 
	background-color: transparent !important;
}

.syntaxhighlighter .line.marked {
	background-color: #778177 !important;
}

.syntaxhighlighter .line.marked .plain {
	color: black !important;
}

.code_small {
	font-size: 0.7em !important;
}

.code_xsmall {
	font-size: 0.5em !important;
}

section.closing {
	-webkit-animation: closing 3s cubic-bezier(.71,.04,.91,.66) forwards;
	-webkit-transform-origin: 100% 100% -120px;
	-webkit-perspective: 0px;
	-webkit-transform: translateZ(-120px);
}

section#close::before {
	content: none;
}

@-webkit-keyframes closing {
	0% {
		-webkit-transform: rotateX(0deg) translateZ(-120px);
	}
	50% {
		-webkit-transform: rotateX(90deg) translateZ(-120px);
	}
	55% {
		-webkit-transform: rotateX(89deg) translateZ(-120px);
	}
	60% {
		-webkit-transform: rotateX(90deg) translateZ(-120px);
	}
	65% {
		-webkit-transform: rotateX(89.9deg) translateZ(-120px);
	}
	70%, 100% {
		-webkit-transform: rotateX(90deg) translateZ(-120px);
	}
}

#close .smoke-01 {
	position: absolute;
	opacity: 0;
	-webkit-animation: smoke-01 1s 2.3s linear forwards;
	-webkit-transform: scale(0.2, 0.2) translateZ(0px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

@-webkit-keyframes smoke-01 {
	0% {
		-webkit-transform: scale(0.2, 0.2) translateZ(0px) rotateX(90deg) rotateY(0deg) rotateZ(60deg);
		opacity: 0;
	}

	30% {
		-webkit-transform: scale(0.6, 0.6) translateZ(50px) rotateX(90deg) rotateY(0deg) rotateZ(120deg);
		opacity: 1;
	}

	60% {
		-webkit-transform: scale(1, 1) translateZ(100px) rotateX(90deg) rotateY(0deg) rotateZ(180deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1, 1) translateZ(150px) rotateX(90deg) rotateY(0deg) rotateZ(240deg);
		opacity: 0;
	}
}

#close .smoke-02 {
	position: absolute;
	opacity: 0;
	-webkit-animation: smoke-02 1s 2.3s linear forwards;
	-webkit-transform: scale(0.2, 0.2) translateZ(0px) rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}

@-webkit-keyframes smoke-02 {
	0% {
		-webkit-transform: scale(0.2, 0.2) translateZ(0px) rotateX(90deg) rotateY(0deg) rotateZ(-60deg);
		opacity: 0;
	}

	30% {
		-webkit-transform: scale(0.6, 0.6) translateZ(50px) rotateX(90deg) rotateY(0deg) rotateZ(-120deg);
		opacity: 1;
	}

	60% {
		-webkit-transform: scale(1.5, 1.5) translateZ(100px) rotateX(90deg) rotateY(0deg) rotateZ(-180deg);
		opacity: 1;
	}

	100% {
		-webkit-transform: scale(1.4, 1.4) translateZ(150px) rotateX(90deg) rotateY(0deg) rotateZ(-240deg);
		opacity: 0;
	}
}

li .syntaxhighlighter {
	margin-bottom: 0 !important;
}
/* table */
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 14px/150% Arial, Helvetica, sans-serif; background: #ddd; overflow: hidden; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }.datagrid table td, .datagrid table th { padding: 3px 10px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');background-color:#006699; color:#FFFFFF; font-size: 1.8em; font-weight: bold; border-left: 1px solid #002A40; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #677587; border-left: 1px solid #E1EEF4;font-size: 1.5em;font-weight: normal; }.datagrid table tbody .alt td { background: #C8D3D9; color: #677587; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }

.datagrid ~ figcaption {
	margin-top: 1.5em;
	text-align: left;
}

em {
	font-style: italic;
}

b {
	font-weight: bold;
	color: darkgrey;
}

.simple-list > p {
	margin-bottom: 0.5em;
}
