#pb-bar-container {
	position: fixed;
	bottom: 1%;
	height: 20px;
	width: 100%;
	background: cyan;
	padding: 0;
	background: url(background.png) repeat-x;
}

#pb-bar {
	-webkit-transition: width 0.4s;
	position: absolute;
	top: 4px;
	left: 0;
	width: 0;
	padding: 0;
	height: 12px;
	background: url(progress-bar.png) repeat-x;
}