@import url('reset.css');
@import url(http://fonts.googleapis.com/css?family=Fjalla+One&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Cantarell:400,700);

body {
	position: relative;
	font-family: 'Cantarell', sans-serif;
	font-size: 14px;
	color: white;
}

nav.main-menu {
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 3;
	text-align: center;
	background: url('../images/leather.jpg') repeat-x;
	background-position: bottom;
	box-shadow: 0 2px 2px 1px rgba(10, 10, 10, 1);
}

nav.main-menu li {
	display: inline-block;
	margin: 15px 15px 0 0;
	padding: 0;
}

nav.main-menu li:last-child {
	margin-right: 0;
}

.content {
	position: relative;
	margin: 100px auto 0 auto;
	width: 770px;
}

a {
	color: rgb(102, 111, 227);
}

a:visited {
	color: rgb(80, 82, 150);
}

a.button, input[type='submit'], input[type='button'] {
	position: relative;
	padding: 10px 35px 12px 35px;
	display: inline-block;
	color: white;
	cursor: pointer;
	text-decoration: none;
	background-color: rgba(130, 20, 20, 1);
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	border: 0;
	border-top: 2px solid rgb(142, 39, 39);
	border-bottom: 2px solid rgb(105, 21, 14);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.5);
}

a.button.selected {
	background-color: rgba(255, 60, 60, 1);
}

a.button:hover, input[type='submit']:hover, input[type='button']:hover {
	cursor: pointer;
	background-color: rgba(200, 30, 20, 1);
}

.feed {
	position: relative;
	color: rgb(200, 200, 200);
	width: 460px;
	min-height: 100vh;
	z-index: 2;
}

.sheet {
	background: rgba(34, 28, 28, 0.6);
	box-shadow: 0 0 8px 2px rgba(10, 10, 10, 0.6);
	margin-top: -100px;
	padding-top: 100px;
}

.feed article {
	margin-bottom: 100px;
}

.feed article > .post-info {
	margin: 6px 80px 5px 80px;
	color: rgba(100, 100, 100, 1);
	border-bottom: 1px solid rgba(100, 100, 100, 0.7);
}

.feed article > .post-info::after {
	content: '.';
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.feed article > .post-info > .author {
	float: left;
}

.feed article > .post-info > .author::before {
	content: 'publicado por: '
}

.feed article > .post-info > .date {
	float: right;
}

p {
	line-height: 1.5em;
	text-align: justify;
}

.feed p {
	padding: 0 80px 0 80px;
	margin-top: 50px;
}

h1 {
	text-transform: uppercase;
	background: rgba(100, 100, 100, 1);
	font-size: 22px;
	padding: 10px 20px 8px 20px;
	font-family: sans-serif;
	box-shadow: 0px 2px 1px 0px rgba(100, 100, 100, 0.5);
	text-shadow: 0px -2px 1px rgba(10, 10, 10, 0.3), 0px 2px 1px rgba(200, 200, 200, 0.3);
	font-family: 'Fjalla One', sans-serif;
	margin-bottom: 30px;
}

.feed article h1 {
	padding: 25px 50px 20px 50px;
	margin-bottom: 0;
	font-size: 36px;
}

div.ampli {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-image: url('../images/rombos.png');
	opacity: 0.8;
	z-index: -100;
}

div.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.6);
	background-blend-mode: multiply;
	background-size: cover;
	z-index: -200;
}

div.backdrop.index {
	background-image: url('../backdrops/back1.jpg');
}

div.backdrop.newsletter {
	background-image: url('../backdrops/back2.jpg');
}

div.backdrop.services {
	background-image: url('../backdrops/back3.jpg');
}

div.backdrop.multimedia {
	background-image: url('../backdrops/back4.jpg');
}

.splash {
	height: 100vh;
	width: 100vw;
	transform-style: preserve-3d;
	position: relative;
	text-align: center;
}

.splash * {
	text-align: center;
	font-size: 30px;
	margin-bottom: 10px;
}

.centerer {
	position: relative;
	top: 50%;
	-webkit-transform: translate(0,-45%);
	-moz-transform: translate(0,-45%);
	-ms-transform: translate(0,-45%);
	-o-transform: translate(0,-45%);
	transform: translate(0,-45%);
}

.logo {
	width:100%;
}

.row {
	margin-bottom: 50px;
	display: block;
}

.col {
	display: inline-block;
	vertical-align: top;
	margin-right: 3%;
	width: 5.5%;
}

.col:last-child {
	margin-right: 0 !important;
}

.col.two {
	width: 13.10%;
}

.col.three {
	width: 22.35%;
}

.col.four {
	width: 31%;
}

.col.five {
	width: 39.5%;
}

.col.six {
	width: 48%;
}

.col.seven {
	width: 56.5%;
}

.col.eight {
	width: 65%;
}

.col.nine {
	width: 73.5%;
}

.col.ten {
	width: 82%;
}

.col.eleven {
	width: 90.5%;
}

.col.twelve {
	width: 99%;
}

form {
	width: 100%;
}

form label {
	display: block;
}

form label+* {
	margin-bottom: 12px;
}

form * {
	width: 100% !important;
}

.news-index {
	margin: 40px 0;
}

.news-index h1 {
	background: initial;
	border: initial;
	box-shadow: none;
	margin: 0 0 5px 0;
	padding: 0;
}

.news-index li {
	margin: 0 0 10px 10px;
}

.news-index ul {
	border-left: 1px solid white;
	padding: 5px 0 3px 0;
	margin: 0 0 0 10px;
}

.sidebar {
	width: 80%;
	padding: 0 10%;
}

figure {
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	cursor: pointer;
	position: relative;
}

figure:hover {
	box-shadow: inset 0 0 40px 2px rgba(252, 11, 11, 0.33);
}

figure img {
	position: relative;
	width: 100%;
	z-index: -2;
}

figcaption {
	position: absolute;
	bottom: 2px;
	background-color: rgba(0, 0, 0, 0.75);
	width: 100%;
	padding: 8px 10px;
	box-sizing: border-box;
	z-index: -1;
}

.main-logo {
	width: 800px;
}

@media (max-width: 959px) {
	nav.main-menu li {
		margin: 15px 2px 0 0;
	}

	nav.main-menu li a.button {
		padding: 10px 15px 12px 15px;
	}

	.content {
		width: 600px;
	}

	.col {
		margin-right: 2.8%;
	}

	.feed p {
		padding: 0 30px 0 30px;
	}

	.feed article > .post-info {
		margin: 6px 30px 5px 30px;
	}

	.main-logo {
		width: 600px;
		height: auto;
	}
}
